<div class="balloon-body"
     [ngClass]="data.fromMe ? 'right' : 'left'"
     [ngStyle]="isOnlyEmoji(data.message) ? {
     'background-color': 'rgba(255,255,255,0)',
     'font-size': '3rem'
     } : {}"
>
  <div class="balloon-header" *ngIf="!titleHidden">
    <div class="name">{{ data.fromMe }}</div>
    <div class="phone">{{ data.phone }}</div>
  </div>

  <div class="balloon-content">
    @if (data.type === MessageType.Text) {
      <p class="emoji-style" [innerHTML]="formatMessage(data.message)"></p>
    }

    <div *ngIf="data.type === MessageType.Image">
      <img
        [src]="data.path"
        alt=""
        class="img-thumbnail"
        (click)="openModal(data)"
      />
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="imageModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Imagem</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modalContent">
            <!-- A imagem será inserida aqui -->
          </div>
        </div>
      </div>
    </div>



    @if (data.type === MessageType.Video) {
      <video [src]="data.path" controls></video>
    }

    @if (data.type === MessageType.Audio) {
      <audio [src]="data.path" controls></audio>
    }

  </div>

  <div class="balloon-footer">
    <p>{{ formatDate(data.updated_at) }}</p>
  </div>
</div>
