<div class="row mt-4">
  @for (item of itemsRequests(); track item) {
    <div class="col-lg-4 col-md-6">
      <app-small-information-card [data]="item"></app-small-information-card>
    </div>
  }
</div>

<div id="componentHeaderTemplate">
  <div id="componentHeader">

    <div>
      <!-- <app-search-input
        (onSearchInputChanged)="handleSearchTerm($event)">
      </app-search-input> -->
    </div>

    <div id="options">
      @if (false) {
        <div id="filter" matRipple>
          <i class="fa-solid fa-filter"></i>
        </div>
      }

      <div id="buttons">
        <button matRipple class="button yellow" (click)="openVacancyDialog()">
          <i class="fa-solid fa-plus"></i> Nova Vaga
        </button>
      </div>

    </div>
  </div>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-table-vacancies
    (onEdit)="openVacancyDialog($event)"
    (onDelete)="onDeleteVacancy($event)"
    [loading]="loading"
    [filters]="filters">
  </app-table-vacancies>
</div>
