<mat-tab-group>
  <mat-tab label="Funis">
    <div id="componentHeaderTemplate" class="mt-3">
      <div id="componentHeader">

        <div>
          <!-- <app-search-input
            (onSearchInputChanged)="handleSearchTerm($event)">
          </app-search-input> -->
        </div>

        <div id="options">
          @if (false) {
            <div id="filter" matRipple (click)="openOrderFilterDialog()">
              <i class="fa-solid fa-filter"></i>
            </div>
          }
          <div id="buttons">
            <button matRipple class="button yellow" (click)="openFunnelDialog()">
              <i class="fa-solid fa-plus"></i> Novo Funil
            </button>
          </div>

        </div>
      </div>
      <div id="componentTable" class="col-12 mt-4">
        <app-table-funnel [loading]="loading"
                         (onFunnelClick)="openFunnelDialog($event)"
                         (onFunnelKanbanClick)="goKanban($event)"
                         (onDeleteFunnelClick)="onDeleteFunnel($event)">>
        </app-table-funnel>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Leads">
    <div id="componentHeaderTemplate" class="mt-3">
      <div id="componentHeader">

        <div>
          <!-- <app-search-input
            (onSearchInputChanged)="handleSearchTerm($event)">
          </app-search-input> -->
        </div>

        <div id="options">
          @if (false) {
            <div id="filter" matRipple (click)="openOrderFilterDialog()">
              <i class="fa-solid fa-filter"></i>
            </div>
          }
          <div id="buttons">
            <button matRipple class="button yellow" (click)="openLeadsDialog()">
              <i class="fa-solid fa-plus"></i> Novo Lead
            </button>
          </div>

        </div>
      </div>
      <div id="componentTable" class="col-12 mt-4">
        <app-table-leads [loading]="loading"
                         (onClientClick)="openLeadsDialog($event)"
                         (onDeleteClientClick)="onDeleteLead($event)">>
        </app-table-leads>
      </div>
    </div>

  </mat-tab>  
</mat-tab-group>

