<div class="row mt-4">
  @for (item of itemsRequests(); track item) {
  <div class="col-lg-4 col-md-6">
    <app-small-information-card [data]="item"></app-small-information-card>
  </div>
  }
</div>

<app-component-header>

  <div id="buttons">
    <button matRipple class="button yellow" (click)="openSelectionProcessDialog()">
      <i class="fa-solid fa-plus"></i> Processo Seletivo
    </button>
  </div>

  <div id="filters">
    <form [formGroup]="formFilters">
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-2">
          <mat-form-field>
            <mat-label>Pesquisar</mat-label>
            <input matInput formControlName="search_term" placeholder="Buscar">
          </mat-form-field>
        </div>
        <div class="col-md-4 mb-md-0 mb-2">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="is_active" placeholder="Status">
              @if(formFilters?.get('is_active').value) {
              <mat-option [value]="''">Limpar Filtro</mat-option>
              }
              @for (status of statusSelect; track status) {
              <mat-option [value]="status.value">{{ status.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </form>

    <div class="d-flex justify-content-end flex-wrap gap-2 mt-2">
      <button matRipple class="button red" (click)="clearFormFilters()">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button matRipple class="button yellow" (click)="updateFilters()">
        <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
      </button>
    </div>
  </div>

</app-component-header>

<div id="componentTable" class="col-12 mt-4">
  <app-table-selection-processes (onEdit)="openSelectionProcessDialog($event)"
    (onDelete)="onDeleteSelectionProcess($event)" (OnInfo)="onInfoSelectionProcess($event)" [loading]="loading"
    [filters]="filters">
  </app-table-selection-processes>
</div>
