<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ title }}</span>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="leadForm" class="row">

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Name*</span>
      <mat-form-field>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="leadForm.get('name')?.hasError('required')">
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Email*</span>
      <mat-form-field>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="leadForm.get('email')?.hasError('required')">
          E-mail é obrigatório.
        </mat-error>
        <mat-error *ngIf="leadForm.get('email')?.hasError('email')">
          Insira um e-mail válido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Telefone*</span>
      <mat-form-field>
        <input formControlName="phone" matInput mask="(00) 0 0000-0000" required>
        <mat-error *ngIf="leadForm.get('phone')?.hasError('required')">
          É necessário informar o telefone.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Origem</span>
      <mat-form-field>
        <input matInput formControlName="origin">
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Responsável*</span>
      <mat-form-field appearance="outline">
        <mat-select formControlName="responsible_id" placeholder="Solicitante" >
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="leadForm.get('responsible_id')?.hasError('required')">
          É necessário ser responsável.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Observações</span>
      <mat-form-field>
        <textarea matInput formControlName="observations"></textarea>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      @if (loading) {
        <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
          <mat-spinner></mat-spinner>
        </div>
      }

      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="close()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="!loading ? onConfirm() : null">{{
              isNewLead ? 'Criar' : 'Salvar'
            }}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>

