<div id="componentHeaderTemplate" class="mt-3">
  <div id="componentHeader">

    <div>
      <!-- <app-search-input
        (onSearchInputChanged)="handleSearchTerm($event)">
      </app-search-input> -->
    </div>

    <div id="options">
      <div id="buttons">
        <button matRipple class="button yellow" (click)="openBudgetDialog()">
          <i class="fa-solid fa-plus"></i> Novo modelo
        </button>
    </div>

    </div>
  </div>
  <div id="componentTable" class="col-12 mt-4">
    <app-table-budget [loading]="loading"
                     (onBudgetClick)="openBudgetDialog($event)"
                     (onBudgetDetailClick)="redirectForBudgetDetail($event)"
                     (onDeleteBudgetClick)="onDeleteBudget($event)">
    </app-table-budget>
  </div>
</div>


