<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">Criar Etapa do Funil</span>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">
    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Nome*</span>
      <mat-form-field>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          O nome é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Descrição*</span>
      <mat-form-field>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">
          A descrição é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div *ngIf="loading" class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
        <mat-spinner></mat-spinner>
      </div>

      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="closeDialog()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button
            matRipple
            id="submit"
            class="button yellow"
            [disabled]="form.invalid || loading"
            (click)="!loading ? onSubmit() : null"
          >
            Criar
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
