@import "_variables";

mat-spinner {
  height: 4.5rem !important;
}

.status {
  font-weight: 600!important;

  &.pending {
    color: $yellow;
  }

  &.resolved {
    color: $green;
  }

  &.requestfinance {
    color: $teal;
  }
}
