<div class="web-chat-input-container">
  <div class="web-chat-input">
    <div class="d-flex gap-3 h-100 align-items-center justify-content-center">
      <i class="fa-solid fa-paperclip"></i>
      <i class="fa-regular fa-face-smile"></i>
      <p class="p-0 m-0"><mat-slide-toggle>Assinar</mat-slide-toggle></p>
    </div>
    <input #input type="text" placeholder="Mensagem" />
    <div class="d-flex gap-3 h-100 align-items-center justify-content-center">
      <i class="fa-solid fa-microphone"></i>
      <i class="fa-solid fa-paper-plane"></i>
    </div>
  </div>
</div>
