<div class="web-chat-item-container" (click)="clicked($event, data)" [ngClass]="{'active': router.url === '/painel/crm/web-chat/' + data.uuid}">
  <div class="web-chat-item-avatar">
    <app-avatar [hidden]="!data.unread" [qtdBadge]="1" [size]="50" [imageUrl]="data?.photo" [altText]="'altText'"></app-avatar>
  </div>
  <div class="web-chat-item-details">
    <div class="web-chat-item-details-primary">
      <div class="web-chat-item-details-primary-left">
        <h4>
          {{ data?.name }}
          @if (data.tag) {
            <span class="tag">{{ data.tag }}</span>
          }
        </h4>
        <p>{{ formatDate(data?.lastMessageTime) }}</p>
      </div>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="web-chat-item-info">
      <p>{{ truncateString(data?.lastMessage, 20) }}</p>
      <button *ngIf="data.status === ContactStatus.Waiting">Aceitar</button>
    </div>
  </div>
</div>
