<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{title}}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Titulo</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>
      </div>

      <div class="col-md-6 col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Data de inicio</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 mb-3">
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            @for (type of hrCampaignType; track type) {
              <mat-option [value]="type[0]">{{ type[1] }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (form.get('type')?.value == 'Recurrence') {
        <div class="col-md-12 col-12 mb-3">
          <mat-form-field>
            <mat-label>Tipo de recorrência</mat-label>
            <mat-select formControlName="recurrence_type">
              @for (type of hrCampaignRecurrenceType; track type) {
                <mat-option [value]="type[0]">{{ type[1] }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      <div class="col-md-6 col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Processo seletivo</mat-label>
          <mat-select formControlName="selection_process_id" (selectionChange)="onSelectionProcessChange($event)">
            <mat-option *ngFor="let selectionProcess of selectionProcesses" [value]="selectionProcess.id">
              {{ selectionProcess.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6 col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>Status do processo seletivo</mat-label>
          <mat-select formControlName="status_id" [disabled]="selectionProcessStatusControl.disabled">
            <mat-option *ngFor="let status of selectionProcesses_status" [value]="status.id">
              {{ status.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field>
          <mat-label>Canais</mat-label>
          <mat-select formControlName="channels">
            @for (channel of hrCampaignChannels; track channel) {
              <mat-option [value]="channel[0]">{{ channel[1] }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field appearance="outline">
          <mat-label>mensagem</mat-label>
          <textarea matInput formControlName="message"></textarea>
        </mat-form-field>
      </div>

    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      @if(loading) {
        <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-3 loading">
          <mat-spinner></mat-spinner>
        </div>
      }

      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="onSubmit(form)">{{isNewHrCampaign ? 'Criar' :
            'Salvar'}}</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
